
<div class="container">
  <div class="card">
    <div class="card-body"><strong>Contact Us</strong></div>
  </div>
</div>


<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a enquiry, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.w3schools.com/w3images/map.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="First Name">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last Name">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="india" selected>India</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Queries</label>
        <textarea id="subject" name="subject" placeholder="Enter your queries" style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
      <br>
    </div>
  </div>
</div>