<head>
    <title>TravelLed</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
  <a href="#default" class="logo">TravelLed <span class="glyphicon glyphicon-leaf"></span></a>
  <div class="header-right">
    <a class="active" routerLink="">Home</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="about">About</a>
  </div>
</div>

<!--routing object-->
<router-outlet></router-outlet>



<br>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://angular-gwtwmd.stackblitz.io"> TravelLed.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

