<router-outlet></router-outlet>
  <div class="hero">
    <h1>TravelLed <span class="glyphicon glyphicon-leaf"></span></h1>
    <p>Occupy the world, prepare to travel.</p>
    <img src="https://raw.githubusercontent.com/Drevoid11/Travel-angular-project/master/src/assets/images/landing-page-hero-unit.jpeg">
    <div class="bar"></div>
  </div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Local Tours</h3>
      <p>India, a land of glorious past and an extraordinary future. The air of India will swing you in each way and make you a part of its soil, in some way or the other. India Tourism holds an odyssey of diverse terrain that starts with snow-covered elevations to tropical delights, satisfies your soul with all the twist, turns and swirls. We’re here to help you sort the best India tourist destinations. This is a gist of what this humongous country has to offer, so get ready to fall in love with India all over again. India is abundantly rich when it comes to culture and rooted traditions. With culture changing tremendously in every state, it is a potpourri of customs, which in the end, are connected as one.</p>
      <img src="https://raw.githubusercontent.com/Drevoid11/Travel-angular-project/master/src/assets/images/local-tours.jpg">
    </div>
    <div class="col-sm-4">
      <h3>European Tours</h3>
      <p>Pick this holiday for a relaxing vacation in Paris and Switzerland. Your tour embarks from Paris. Enjoy an excursion to popular attractions like the iconic Eiffel Tower and the Louvre Museum. After experiencing the beautiful city, you will drive past mustard fields through Burgundy to reach Switzerland. While there, you can opt for a tour to Interlaken and then to the Trummelbach Falls. Excursion to Zurich Lake and a cable car ride to Mt. Titlis are the main highlights of the holiday.Europe holiday packages offer a unique combination of art, history, culture and entertainment. Experience diverse food, culture, languages, fabulous architecture, history and natural beauty with Cox & Kings Europe tours from India. </p>
      <img src="https://raw.githubusercontent.com/Drevoid11/Travel-angular-project/master/src/assets/images/european-tours.jpg">
    </div>
    <div class="col-sm-4">
      <h3>US and Canada</h3> 
      <p>Find the right tour for you that goes to Canada and USA (check also our Alaska vacation packages). With 190 tours to choose from, ranging in length from 7 days to 63 days and passing visiting places like California and Canadian Rockies. The most popular month to visit these countries is August, which has the most number of departures.</p>
      <img src="https://raw.githubusercontent.com/Drevoid11/Travel-angular-project/master/src/assets/images/us-canada.jpg">
    </div>
  </div>
</div>

